<!DOCTYPE html>
<html>
  <head>
    <title>Cool Page</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
<div class="example">
  <div class="nn hash1 "><%= image_tag "hash.png" %></div>
  <p class="nn user name_v ">
    <%= @user.user_name %></p>
  <p class="nn user name_k ">
    name</p>
  <div class="nn words "> Look at that.  A hash with your name in it!! Neato!  It has a key of name and a value of  <%= @user.user_name %>.  Do you think you can make your own hash?<%= link_to '    YES', page3_path%></div>

  <div class="aa  hash1 inv_u"><%= image_tag "hash.png" %></div>
  <p class="aa user name_v inv_u">
    <%= @user.user_age %>
  </p>
  <p class="aa user name_k inv_u">
    age
  </p>z
  <div class="aa words inv_u"> Here's one that has your age as the value and a key of the word age  <%= @user.user_age %>.</div>


<!--   <div class="aa  hash1 inv_u"><%= image_tag "hash.png" %></div>
  <p class="aa user name_v inv_u">
    <%= @user.user_age %>
  </p>
  <p class="aa user name_k inv_u">
    age
  </p>
  <div class="nn words"> Look at that.  A hash with your name in it!! Neato!  It has a key of name and a value of  <%= @user.user_name %> .</div> -->


  <div class="cc  hash1 inv_u"><%= image_tag "hash.png" %></div>
  <p class="cc user name_v inv_u">
    <%= @user.user_color %>
  </p>
  <p class="cc user name_k inv_u">
    color
  </p>
  <div class="cc words inv_u"> Look at that.  A hash with your name in it!! Neato!  It has a key of name and a value of  <%= @user.user_name %> .</div>

<!--
  <div class="oo  hash1 inv_u"><%= image_tag "hash.png" %></div>
  <p class="oo user name_v inv_u">
    <%= @user.user_cartoon %>
  </p>
  <p class="oo user name_k inv_u">
    cartoon
  </p>
  <div class="nn words"> Look at that.  A hash with your name in it!! Neato!  It has a key of name and a value of  <%= @user.user_name %> .</div>


  <div class="tt  hash1 inv_u"><%= image_tag "hash.png" %></div>
  <p class="tt user name_v inv_u">
    <%= @user.user_toy %>
  </p>
  <p class="tt user name_k inv_u">
    toy
  </p>
  <div class="nn words"> Look at that.  A hash with your name in it!! Neato!  It has a key of name and a value of  <%= @user.user_name %> .</div>
 -->
  <div class="clicker nn">click on the hash to continue</div>
  <div class="clicker aa">click on the hash to continue</div>
  <div class="clicker cc">click on the hash to continue</div>
</div>
<div class="biganswers"><%= image_tag "Catquestions.png" %>

