<p id="notice"><%= notice %></p>



<p>
  <%= @user.user_name %>
</p>

<p>
  <%= @user.user_age %>
</p>

<p>
  <%= @user.user_color %>
</p>

<p>
  <%= @user.user_cartoon %>
</p>

<p>
  <%= @user.user_toy %>
</p>

<p>
  <%= @user.bf_name %>
</p>

<p>
  <%= @user.bf_age %>
</p>

<p>
  <%= @user.bf_color %>
</p>

<p>
  <%= @user.bf_cartoon %>
</p>

<p>
  <%= @user.bf_toy %>
</p>

<p>
  <%= @user.f_name %>
</p>

<p>
  <%= @user.f_age %>
</p>

<p>
  <%= @user.f_color %>
</p>

<p>
  <%= @user.f_cartoon %>
</p>

<p>
  <%= @user.f_toy %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
